bin/*
*.class
*.project
*.bin
*.classpath
*.metadata
*.txt
*~
shared_files
*.pptx
*.xcf
build
run
clean
*.key
!doc/*
!src/adminpublic.key
!src/adminprivate.key
!src/textprivate.txt
!src/groupserverpublic.key
!src/groupserverprivate.key